.container {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  padding-left: 27px;
  padding-top: 22px;
  padding-bottom: 22px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}
.menu-item {
  display: inline-block;
}
.menu {
  display: inline-block;
  padding-left: 0px;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0;
}
.menu-link {
  text-decoration: none;
  color: #ffffff;
  padding-left: 35px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
.nav-part {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;
  background-color: #313131;
}
.container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 369px;
}
.intro {
  width: 100%;
  background: url(images/header-background.png);
  background-attachment: fixed;
  background-size: cover;
}
.front-slogan {
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.intro-list-item-link {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
}
.intro-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 700px;
  height: 131px;
}
.intro-list-item {
  margin: 10px;
  margin-top: 44px;
}
.intro-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #89ca62;
  background: #89ca62;
  width: 170px;
  height: 55px;
}
.intro-list-item-article {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #14b9d5;
  background: #14b9d5;
  width: 170px;
  height: 55px;
  margin: 10px;
  margin-top: 44px;
}
.section-name-photo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 800px;
  width: 370px;
}
.section-name-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  margin: 30px;
}
.section-name {
  display: flex;
  justify-content: center;
  margin-top: 49px;
  margin-bottom: 52px;
  font-family: Open Sans;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  align-items: center;
  text-transform: uppercase;
  color: #18b4cf;
}
.section-name-photo-item {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.container-posts {
  width: 1200px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.container-advert {
  width: 100%;
  height: 588px;
  background: url(./images/parallax-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
}
.advert-header-name {
  padding-top: 106px;
  padding-bottom: 87px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  color: #ffffff;
}
.logo-adv {
  list-style-type: none;
  margin-right: 58px;
  margin-top: 107px;
}
.logo-img-menu {
  display: flex;
  justify-content: center;
  margin: 0px;
}
.advert-line {
  margin-top: 25px;
  margin-bottom: 0;
  width: 60px;
  height: 3px;
  background: #18b4cf;
  border: none;
}
.carousel {
  display: grid;
  margin: 0px;
  padding: 0px;
  grid-gap: 0px;
  /* grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); */
  grid-template-columns: repeat(7, 1fr);

  grid-auto-rows: 1fr;
  list-style-type: none;
}
.container-news {
  max-width: 1200px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.hot-news-item {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
  grid-gap: 0px;
  /* grid-template-columns: repeat(2, 1fr); */
  list-style-type: none;
}
.news-description-text {
  align-items: center;
}

.container-footer {
  margin-left: auto;
  margin-right: auto;
}
.nav-part-cprt {
  color: white;
  justify-content: center;
  align-items: center;
  text-align: right;
  font-family: Open Sans;
  font-size: 13px;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 367px;
}
.logo-img-footer-frst {
  padding-bottom: 32px;
  padding-bottom: 30px;
  margin-right: 3px;
}
.logo-img-footer-scnd {
  padding-bottom: 29px;
  padding-bottom: 35px;
  padding-right: 386px;
}
.menu-link:hover {
  color: red;
}
