.intro {
  background: url(../images/background.png) no-repeat center center fixed;
  background-size: cover;
  margin: 0px;
}
.page-header {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.4);
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 79px;
}
.logo {
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
}
.login {
  display: inline-block;
  margin-left: 53px;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}

.svg2 {
  margin-left: 27px;
}
.svg3 {
  margin-left: 27px;
}
.log-sp:hover {
  color: #01813f;
}
.logo:hover {
  color: #01813f;
}
.logo:hover {
  color: #01813f;
}
.svg1:hover {
  background: #01813f;
}
.svg2:hover {
  background: #01813f;
}
.svg3:hover {
  background: #01813f;
}
.form-main {
  width: 444px;
  height: 584px;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  padding-top: 54px;
  margin: 0 auto;
}
.butn {
  float: left;
  margin-right: 4px;
  width: 160px;
  height: 48px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  user-select: none;
  background: #305db8;
  margin-left: 60px;
  border: transparent;
}
.butn2 {
  float: left;
  width: 160px;
  height: 48px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  user-select: none;
  background: #df4a32;
  border: transparent;
}
.log {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 61px;
  margin-bottom: 15px;
  color: #434343;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
}
.sg {
  text-decoration: none;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
  margin-top: 33px;
  margin-bottom: 13px;
}
.line {
  margin-top: 40px;
  width: 152px;
  height: 1px;
  left: 171px;
  top: 5px;
  margin-left: 58px;
}
.line2 {
  margin-top: 40px;
  width: 152px;
  height: 1px;
  left: 171px;
}
.form2 {
  background: #ffffff;
  border: transparent;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  border-radius: 4px;
  outline: none;
  border: none;
  color: -internal-light-dark(black, white);
  width: 322px;
  height: 44.08px;
  background: none;
  margin: 0 auto;
  line-height: 0px;
  border-style: none;
}
.form1 {
  background: #ffffff;
  border: transparent;
  width: 324px;
  height: 44px;
  left: 60px;
  top: 225px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  margin: 16px auto;
}
.butn3 {
  width: 324px;
  height: 46px;
  left: 60px;
  top: 500px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  margin-left: 60px;
  border: transparent;
  color: #fff;
  font-size: 16px;
  margin-bottom: 38px;
}
.butn3:hover {
  background-color: #01813f;
}

.span {
  color: #3cb878;
}
.checkbox {
  margin-left: 65px;
  margin-bottom: 20px;
}
.butn:hover {
  background-color: #0a162f;
}
.butn2:hover {
  background-color: #ab1f09;
}
span::before {
  content: '';
  position: absolute;
  text-underline-offset: green;
}
