.page-main {
  text-align: center;
}
.page-body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.25;
}
.page-header {
  padding-top: 25px;
}
.container {
  max-width: 1145px;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}
.menu-item {
  justify-content: center;
  list-style: none;
  margin-right: 72px;
}
.menu-link {
  font-size: 18px;
  line-height: 22px;
  color: #3d3d3d;
  text-transform: uppercase;
}
.btn {
  background: #ff0000;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 18px 44px 17px 43px;
  text-size-adjust: 12px;
  text-transform: uppercase;
  margin-top: 84px;
}
.menu-item-nav {
  text-decoration: none;
  color: #ff0000;
  text-transform: uppercase;
  justify-content: center;
}
.front-page-image {
  text-align: center;
  width: 100%;
}
.slogan {
  color: #373737;
  height: 29px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 49px;
  margin-bottom: 38px;
}
.front-page-content-second {
  padding-top: 28px;
}
.copyright {
  text-align: right;
  margin-top: 99px;
  margin-bottom: 29px;
}
