/*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}

img,
picture,
iframe,
canvas,
svg {
  max-width: 100%;
}
*/
.page-main {
  text-align: center;
}
.page-body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.25;
}
.page-header {
  padding-top: 25px;
}
.container {
  /* max-width: 1280px; */
  margin-left: 67.5px;
  margin-right: 67.5px;
}
.menu {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}
.menu-item {
  display: inline-block;
  margin-left: 200px;
  list-style-type: none;
}
.menu-link {
  font-size: 18px;
  line-height: 22px;
  color: #3d3d3d;
  text-transform: uppercase;
}
.btn {
  background: #ff0000;
  border-radius: 4px;
  text-align: center;
  /* width: 191px;
  height: 51px; */
  /* padding: 18px 42px; */
  padding: 18px 44px 17px 43px;
  text-size-adjust: 12px;
  text-transform: uppercase;
  margin-top: 84px;
}
.menu-item-nav {
  text-decoration: none;
  color: #ff0000;
  text-transform: uppercase;
  justify-content: center;
}
.front-page-image {
  text-align: center;
  width: 100%;
}
.slogan {
  color: #373737;
  height: 29px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 49px;
  margin-bottom: 38px;
}
.front-page-content-second {
  padding-top: 28px;
}
.copyright {
  text-align: right;
  margin-top: 99px;
}
