.page-body {
  font-family: sans-serif;
  font-size: 16px;
}
.menu {
  display: inline-block;
  margin-left: 185px;
  padding-left: 0px;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0;
}
.menu-item {
  display: inline-block;
  margin-left: 65px;
}
