.container {
  max-width: 1283px;
  margin-left: auto;
  margin-right: auto;
}
.menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #35444f;
  /* padding-top: 26px;
  padding-bottom: 19px;  */
  justify-content: center;
}
ul:last-child {
  /* border-right: 1px solid rgb(83, 80, 80); */
}
.menu-item {
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 26px 33px 19px 33px;
}
.menu-link {
  color: white;
  font-size: 24px;
  text-decoration: none;
}
.logo {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #000000;
}
.left-menu {
  width: 344px;
  list-style-type: none;
}
.left-menu-link {
  text-decoration: none;
}
.left-menu-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 27px;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px
  margin-bottom: 73px;
}

.main-text-first {
  margin-top: 37px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  width: 885px;
  margin-left: auto;
  margin-right: auto;
}
.main-text-second {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  width: 885px;
  margin-left: auto;
  margin-right: auto;
}
.menu-footer {
  display: flex;
  margin-top: 54px;
  padding: 0;
  list-style-type: none;
  background-color: #63696E;
  justify-content: flex-start;
}
.menu-item-footer {
  padding: 26px 33px 19px 33px;
}
.menu-link-footer {
  color: #010101;
  font-size: 28px;
  text-decoration: none;
}
.sub {
  font-size: 24px;
  align-content: center;
  
}