.body {
  background-color: black;
}
.container {
  perspective: 700px;
}
.content-text {
  display: flex;
  margin: 0 auto;
  width: 500px;
  height: 100px;
  background-color: rgb(2, 2, 2);
  color: rgb(240, 166, 29);
  font-size: 24px;
  position: relative;
  animation-direction: reverse;
  animation-name: text;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  transform: scale3d(0.9, 1, 2) rotateX(70deg);
  transform: rotate3d(180deg);
  transition-delay: 0ms 0ms;
  transition: linear;
}
@keyframes text {
  0% {
    top: 0px;
  }
  100% {
    top: 500px;
  }
}
