.container {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  padding-left: 27px;
  padding-top: 22px;
  padding-bottom: 22px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}
.menu-item {
  display: inline-block;
}
.menu {
  display: inline-block;
  padding-left: 0px;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0;
}
.menu-link {
  text-decoration: none;
  color: #ffffff;
  padding-left: 35px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
.nav-part {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 26px;
  background-color: #313131;
}
.logo-img {
  padding-left: 29px;
}
.front-image {
  position: relative;
}
.front-slogan {
  position: absolute;
  top: 164px;
  width: 100%;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  color: #ffffff;
}

.section-name {
  justify-content: center;
  color: #18b4cf;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-transform: uppercase;
  margin-top: 49px;
  margin-bottom: 52px;
}
.section-name-photo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 950px;
}
.section-name-item {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  position: center;
}
